body {
  font-family: "Open Sans Condensed";
  padding: 20px 80px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
